<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head lang="en">
    <meta charset="UTF-8" />
    <title>Layout</title>
  </head>
  <body>
    <div th:fragment="avatar(user)">
      <!-- Profile picture start -->
      <div th:if="${user} != null">
        <div class="card border-light">
          <span th:if="${user.profilePicId} == null"
            ><img
              class="card-img-top"
              src="../public/img/cartoon-bird-hi.png"
              th:src="@{/img/cartoon-bird-hi.png}"
              alt="avatar"
          /></span>
          <span th:unless="${user.profilePicId} == null"
            ><img
              class="card-img-top"
              th:src="@{/profile/img/{id}(id=${user.profilePicId})}"
              alt="avatar"
          /></span>
        </div>
        <!-- Profile picture end -->
        <p class="text-muted text-center">
          <span th:text="${user.firstName} + ' ' + ${user.lastName}">
            Firstname Lastname
          </span>
          <span
            th:unless="${#strings.equals(current, user.username)} or ${following != true}"
          >
            <a
              th:href="@{/profile/{username}/follow(username=${user.username})}"
              ><i class="fas fa-user-plus" style="color:darkred;"></i
            ></a>
          </span>
        </p>
        <!-- User album button start -->
        <div class="container text-center">
          <a
            th:href="@{/profile/{username}/album(username=${user.username})}"
            type="button"
            class="btn btn-danger"
            ><small>User album</small></a
          >
        </div>
        <!-- User album button end -->
      </div>
    </div>
  </body>
</html>
