<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Chirpper!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <!-- Removed ', shrink-to-fit=no' from meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/5b04f5dd6f.js"
      crossorigin="anonymous"
    ></script>
    <title>Chirpper</title>
  </head>
  <body>
    <div class="container">
      <nav
        class="navbar navbar-expand-sm navbar-dark"
        style="background-color:darkred;"
      >
        <img
          src="../public/img/cartoon-bird-hi.png"
          width="3%"
          height="3%"
          alt=""
          th:src="@{../public/img/cartoon-bird-hi.png}"
        />
        <a class="navbar-brand" href="#">Chirpper</a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        ></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/profile/feed}">Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/profile/}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/profile/follows}">Following</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
          </ul>
          <form
            th:action="@{/profile/search/}"
            method="post"
            class="form-inline my-2 my-lg-0"
          >
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search for users..."
              name="user"
            />
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
      <div class="row">
        <div class="col-sm-3">
          <!-- Profile picture start -->
          <div class="card border-light">
            <span th:if="${user.profilePicId} == null"
              ><img
                class="card-img-top"
                src="../public/img/cartoon-bird-hi.png"
                th:src="@{/img/cartoon-bird-hi.png}"
                alt="avatar"
            /></span>
            <span th:unless="${user.profilePicId} == null"
              ><img
                class="card-img-top"
                th:src="@{/profile/img/{id}(id=${user.profilePicId})}"
                alt="avatar"
            /></span>
          </div>
          <!-- Profile picture end -->
          <p class="text-muted text-center">
            <span th:text="${user.firstName} + ' ' + ${user.lastName}">
              Firstname Lastname
            </span>
            <span th:unless="${#strings.equals(current, user.username)}">
              <a
                th:href="@{/profile/{username}/follow(username=${user.username})}"
                ><i class="fas fa-user-plus" style="color:darkred;"></i
              ></a>
            </span>
          </p>
          <!-- User album button start -->
          <div class="container text-center">
            <a
              th:href="@{/profile/{username}/album(username=${user.username})}"
              type="button"
              class="btn btn-danger"
              ><small>User album</small></a
            >
          </div>
          <!-- User album button end -->
        </div>
        <div class="col-sm container-fluid text-center">
          <div class="container">
            <br />

            <h5 th:unless="${#strings.equals(current, user.username)}">
              <span th:text="${user.username}"></span>'s famous photos!
            </h5>
            <div th:if="${#strings.equals(current, user.username)}">
              <h5>
                Your gallery looks empty, upload some photos!
              </h5>
              <br />
            </div>
            <div
              class="form-group"
              th:if="${#strings.equals(current, user.username)}"
            >
              <form
                th:action="@{/profile/{username}/album/(username=${user.username})}"
                class="form-container"
                enctype="multipart/form-data"
                method="post"
              >
                <div class="form-group">
                  <small id="customFile" class="form-text text-muted text-left"
                    >Please note that max filesize is 50kb.</small
                  >
                  <input
                    class="float-left"
                    name="file"
                    type="file"
                    id="customFile"
                  />

                  <br />
                  <br />
                </div>
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    name="story"
                    id="write_content"
                    placeholder="Say something about the photo..."
                  />
                  <button class="btn btn-danger" type="submit">Send</button>
                </div>
              </form>
            </div>
          </div>
          <div class="container" th:unless="${photos.empty}">
            <tr th:each="photo: ${photos}">
              <div class="card">
                <div>
                  <img
                    class="card-img-top"
                    style="width: 10vw; height: auto;"
                    th:src="@{/profile/img/{id}(id=${photo.id})}"
                  />
                </div>
                <div class="card-body">
                  <p class="card-text text-left">
                    <a
                      th:href="@{/profile/img/{id}/like/{username}(id=${photo.id}, username=${user.username})}"
                      ><i class="fas fa-heart" style="color:red"> </i></a
                    ><span th:text="' ' + ${#lists.size(photo.likes)}">0</span>
                  </p>
                  <p class="card-text" th:text="${photo.story}">Text</p>
                  <p class="card-text">
                    <a
                      style="color:darkred;"
                      th:href="@{/profile/{username}/profile_pic/{id}(id=${photo.id}, username=${user.username})}"
                      ><small>Set this photo as your profile picture!</small></a
                    >
                  </p>
                </div>
                <!-- No comments default start -->
                <div
                  class="card-footer bg-white"
                  th:if="${photo.comment.empty}"
                >
                  No tweetback yet!
                </div>
                <!-- No comments default end -->
                <!-- Comments start -->
                <div
                  class="card-footer bg-white"
                  th:unless="${photo.comment.empty}"
                >
                  <div th:each="comment : ${photo.comment}">
                    <div>
                      <div>
                        <span th:if="${comment.user.profilePicId} == null"
                          ><img
                            class="card-img-thumbnail float-left"
                            style="contain:none; object-fit:cover; width: 5vh; height: 5vh;"
                            src="../public/img/cartoon-bird-hi.png"
                            th:src="@{/img/cartoon-bird-hi.png}"
                            width="10%"
                        /></span>
                        <span th:unless="${comment.user.profilePicId} == null"
                          ><img
                            class="card-img-thumbnail rounded-circle float-left"
                            style="contain:none; object-fit:cover; width: 5vh; height: 5vh;"
                            th:src="@{/profile/img/{id}(id=${comment.user.profilePicId})}"
                            alt="avatar"
                        /></span>
                        <small
                          ><a
                            style="color:darkred;"
                            class="nav-link active text-left"
                            th:href="@{/profile/{username}(username=${comment.user.username})}"
                            th:text="'@' + ${comment.user.username}"
                            >username</a
                          >
                          <span
                            class="text float-right"
                            th:text="${comment.date} + ' ' + ${comment.time}"
                          >
                            11:54</span
                          >
                        </small>
                      </div>
                      <p
                        class="container text-left"
                        th:text="${comment.content}"
                      >
                        comment
                      </p>
                      <!-- Comments end -->
                    </div>
                  </div>
                </div>
                <!-- Make a comment start -->

                <div class="card-footer bg-white">
                  <span class="text text-muted">Add a tweet</span>
                  <div class="form-group">
                    <form
                      th:action="@{/profile/{username}/img/{id}/comment(username=${user.username}, id=${photo.id})}"
                      method="post"
                    >
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          name="comment"
                          id="comment"
                          class="form-control"
                          placeholder="Your tweetback..."
                          aria-label="Recipient's username"
                          aria-describedby="basic-addon2"
                        />
                        <div class="input-group-append">
                          <button class="btn btn-danger" type="submit">
                            Tweet
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- Make a comment end -->
              </div>
            </tr>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
