<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Chirpper!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <!-- Removed ', shrink-to-fit=no' from meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/5b04f5dd6f.js"
      crossorigin="anonymous"
    ></script>
    <title>Chirpper</title>
  </head>
  <body>
    <div class="container-fluid">
    <nav
      class="navbar navbar-expand-sm navbar-dark"
      style="background-color:darkred;"
    >
      <img
        src="../public/img/cartoon-bird-hi.png"
        width="3%"
        height="3%"
        alt=""
        th:src="@{../img/cartoon-bird-hi.png}"
      />
      <a class="navbar-brand" href="#">Chirpper</a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/profile/}">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" th:href="@{/profile/follows}">Following</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
        <form th:action="@{/profile/search/}" method="post" class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search for users..."
            name="user"
          />
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    <div class="container-fluid">
          <br>
          <h4 class="container text-center" th:unless="${#strings.equals(current, user.username)}">
            <small></small>
            <span th:text="${user.username}"></span><small>'s wall of Chirps!</small>
          </h4>
          <h4 class="container text-center" th:if="${#strings.equals(current, user.username)}">
            <small>Welcome back </small>
            <span th:text="${user.username} + '!'"></span
            ><small> Add a new chirp!</small>
          </h4>
          <br />
          <!-- New post start -->
          <div class="card text-left"  th:if="${#strings.equals(current, user.username)}">
            <div class="card-body">
              <span th:if="${user.profilePicId} == null"
                ><img
                  class="card-img-thumbnail"
                  src="../public/img/no-profile-picture.jpg"
                  th:src="@{/img/no-profile-picture.jpg}"
                  alt=""
                  width="10%"
                  height="10%"
              /></span>
              <span th:unless="${user.profilePicId} == null"
                ><img
                  class="card-img-thumbnail"
                  th:src="@{/profile/img/{id}(id=${user.profilePicId})}"
                  alt=""
                  width="10%"
                  height="10%"
              /></span>
              <div class="form-group">
                <form th:action="@{/profile/{username}/post/(username=${user.username})}" class="form-container" method="post">
                  <div class="input-group mb-3">
                  <input
                  type="text"
                  class="form-control"
                  name="content"
                  id="write_content"
                  placeholder="What's chirpin'?"
                />
                  <div class="input-group-append">
                    <button class="btn btn-danger" type="submit">Chirp!</button>
                  </div>
                </div>
              </div>
              </button>
            </form>
            </div>
          </div>
          <!-- New post end -->
          <!-- Defaul message for no posts -->
          <div class="row" th:if="${user.post.empty}">
            <div class="col-sm">
              <br />
              <div class="card">
                <div class="card-body">
                  No chirps yet, i hope we hear you singing soon!
                </div>
              </div>
            </div>
          </div>
          <!-- Default message end -->
          <!-- Post start -->
          <div th:unless="${user.post.empty}">
            <tr th:each="post: ${user.post}">
              <div class="row">
                <div class="col-sm">
                  <br />
                  <div class="card">
                    <div class="card-header">
                      
                        <span
                          class="text"
                          th:text="${user.firstName} + ' ' + ${user.lastName}"
                          >Username</span
                        >
                        <small
                          ><span th:text="'@' + ${user.username}"
                            >username</span
                          ></small
                        >
                        <span
                          class="text float-right"
                          th:text="${post.date} + ' ' + ${post.time}"
                        >
                          11:54</span
                        >
                      </div>
                    </div>
                    <div class="card-body">
                      <p class="card-text" th:text="${post.content}">
                        Enter some text here
                      </p>
                      <a
                        th:href="@{/profile/{username}/post/{id}/like(id=${post.id}, username=${user.username})}"
                        ><i class="fas fa-heart" style="color:red"> </i></a
                      ><span th:text="' ' + ${#lists.size(post.likes)}">0</span>
                    </div>
                    
                    <!-- No comments default start -->
                    <div
                      class="card-footer bg-white"
                      th:if="${post.comment.empty}"
                    >
                      No tweetback yet!
                    </div>
                    <!-- No comments default end -->
                    <!-- Comments start -->
                    <div
                      class="card-footer bg-white"
                      th:unless="${post.comment.empty}"
                    >
                      <span th:each="comment : ${post.comment}">
                        <div>
                            <div>
                                <span th:if="${comment.user.profilePicId} == null"
                                ><img
                                class="img-fluid card-img-thumbnail rounded float-left"
                                  src="../public/img/no-profile-picture.jpg"
                                  th:src="@{/img/no-profile-picture.jpg}"
                                  width="10%"
                           
                              /></span>
                              <span th:unless="${comment.user.profilePicId} == null"
                                ><img
                                class="img-fluid card-img-thumbnail rounded float-left"
                                  th:src="@{/profile/img/{id}(id=${comment.user.profilePicId})}"
                                  alt="avatar"
                                  width="10%"
                              /></span>
                          <small
                            ><a style="color:darkred;" class="nav-link active" th:href="@{/profile/{username}(username=${comment.user.username})}" th:text="'@' + ${comment.user.username}"
                              >username</a
                            >
                            <span
                              class="text float-right"
                              th:text="${comment.date} + ' ' + ${comment.time}"
                            >
                              11:54</span
                            >
                          </small>
                        </div>
                        <p class="container" th:text="${comment.content}">
                          comment
                        </p>
                      </span>
                    </div>
                    <!-- Comments end -->
                    <!-- Make a comment start -->
                    <div class="card-footer bg-white">
                      <span class="text text-muted">Add a tweet</span>
                      <div class="form-group">
                        <form
                          th:action="@{/profile/{username}/post/{id}/comment(username=${user.username}, id=${post.id})}"
                          method="post"
                        >
                          <div class="input-group mb-3">
                            <input type="text" name="comment" id="comment" class="form-control" placeholder="Your tweetback..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-danger" type="submit">Tweet</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- Make a comment end -->
                  </div>
                </div>
              </div>
            </tr>
          </div>

          <!-- Post end -->
        </div>
      </div>
    </div>
  </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
