<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Chirpper!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <!-- Removed ', shrink-to-fit=no' from meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/5b04f5dd6f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div th:if="${user} != null">
      <header th:replace="fragments/layout :: navbar">
        <title>Chirpper!</title>
      </header>
      <div class="row container-fluid">
        <div class="col-sm-3">
          <div th:replace="fragments/layout :: avatar(user=${user})"></div>
        </div>
          <div class="col-sm text-center">
            <h4>Following:</h4>
            <tr th:each="follow: ${following}">
              <div class="col-sm" th:if="${follow.blocked} == false">
                <h5>
                  <a
                    style="color:darkred;"
                    th:href="@{/profile/{username}(username=${follow.follow.username})}"
                    class="text-center"
                    th:text="${follow.follow.username}"
                    >Following users
                  </a>
                    <a class="btn btn-danger" th:href="@{/profile/follow/block/{follow}(follow=${follow.follow.username})}">block user</a>
                  <p>
                    <small
                      >Following since: <span
                      th:text="${#temporals.format(follow.dateTime, 'dd.MM.yyyy')} + ' ' + ${#temporals.format(follow.dateTime, 'HH:mm')}"
                      ></span
                    ></small>
                  </p>
                </h5>
              </div>
            </tr>
          </div>

          <!-- Following users list END -->
          <!-- Users following you list START -->
          <div class="col-sm container text-center">
            <h4>Following you:</h4>
            <tr th:each="follower: ${follows}">
              <div class="col-sm" th:if="${follower.blocked} == false">
                <h5>
                  <a
                    style="color:darkred;"
                    th:href="@{/profile/{username}(username=${follower.account.username})}"
                    class="text-center"
                    th:text="${follower.account.username}"
                    >Users following you
                  </a>
                    <a class="btn btn-danger" th:href="@{/profile/follow/block/{follow}(follow=${follower.account.username})}">block user</a>
                  
                  <p>
                      <small>has been following you since: </small>
                    <small
                      ><span
                      th:text="${#temporals.format(follower.dateTime, 'dd.MM.yyyy')} + ' ' + ${#temporals.format(follower.dateTime, 'HH:mm')}"
                      ></span
                    ></small>
                  </p>
                </h5>
              </div>
            </tr>
          </div>

          <!-- Users following you list END -->
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!-- 
  <div class="col-sm">
              Following:
              <div>
                  <tr th:each="follower: ${follows}">
                    <div>
                        <li th:text="${follower.following.username}"></li>
                    </div>
                  </tr>
                </div>
            </div>
-->
