<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Chirpper</title>
  </head>
  <body>
    <center><h3>Welcome Chirpper!</h3></center>
    <center>
      <img
        src="../public/img/cartoon-bird-hi.png"
        width="10%"
        height="10%"
        alt=""
        th:src="@{img/cartoon-bird-hi.png}"
      />
    </center>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </body>
</html>
