<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Chirpper!</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <!-- Removed ', shrink-to-fit=no' from meta -->
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
            />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
            />
        <script
            src="https://kit.fontawesome.com/5b04f5dd6f.js"
            crossorigin="anonymous"
        ></script>
        <title>Chirpper</title>
    </head>
    <body>
        <div th:if="${user} != null">
            <header th:replace="fragments/layout :: navbar">
            </header>
            <div class="row">
                <div class="col-sm-3">
                    <div th:replace="fragments/layout :: avatar(user=${user})"></div>
                </div>
                <div class="col-sm">
                    <br>
                        <h4 class="container text-center" th:unless="${#strings.equals(current, user.username)}">
                            <span th:text="${user.username}"></span><small>'s wall of Chirps!</small>
                        </h4>
                        <h4 class="container text-center" th:if="${#strings.equals(current, user.username)}">
                            <small>Welcome back </small>
                            <span th:text="${user.username} + '!'"></span
                            ><small> Add a new chirp!</small>
                        </h4>
                        <br>
                            <!-- New post start -->
                            <div class="card text-left"  th:if="${#strings.equals(current, user.username)}">
                                <div class="card-body">
                                    <div class="form-group">
                                        <form th:action="@{/profile/{username}/post/(username=${user.username})}" class="form-container" method="post">
                                            <div class="input-group mb-3">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    name="content"
                                                    id="chirp_content"
                                                    placeholder="What's chirpin'?"
                                                    aria-describedby="chirpHelp"
                                                    />
                                                <div class="input-group-append">
                                                    <button class="btn btn-danger" type="submit">Chirp!</button>
                                                </div>
                                            </div>
                                            <small id="chirpHelp" class="form-text text-muted">Min 3, max 120 chars. <span id="count_content"></span></small>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <!-- New post end -->
                            <!-- Defaul message for no posts -->
                            <div  th:replace="fragments/layout :: post(false)"></div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>


                            <script
                                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                                crossorigin="anonymous"
                            ></script>
                            <script
                                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                                crossorigin="anonymous"
                            ></script>
                            <script
                                src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                                crossorigin="anonymous"
                            ></script>
                            <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>
                            <script  th:inline="javascript">
                                var text_max = 120;
                                $('#count_content').html(text_max + ' remaining');

                                $('#chirp_content').keyup(function () {
                                    var text_length = $('#chirp_content').val().length;
                                    var text_remaining = text_max - text_length;

                                    $('#count_content').html(text_remaining + ' remaining');
                                });
                            </script>

                            </body>
                            </html>
